.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  height: 80px;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.name {
  /* margin: auto; */
  margin-left: 12px;
  font-size: 18px;
  font-weight: 500;
}

.circle {
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-right: 15px;
}

.isOnline {
  composes: circle;
  color: rgb(16, 190, 16);
}

.isOffline {
  composes: circle;
  color: rgb(255, 0, 0);
}
