.statList {
  display: flex;
  color: rgb(135, 253, 0);
  align-items: center;
  justify-content: center;

}

.item {
background-color: rgb(241, 0, 0);
}

.statistics {
    display: grid;
    justify-items: center;
}